body {
    font-family: sans-serif;
  }
  #container {
    width: 600px;
    margin: 0 auto;
  }
  .chat-input {
    width: 540px;
    height: 35px;
    border: solid 1px #444;
  }
  .chat-submit {
    width: 50px;
    height: 35px;
    border: solid 1px #444;
  }
  .chat-window {
    height: 300px;
    width: 600px;
    overflow: auto;
    font-size: 12px;
  }
  .usersTable, th, td {
    border: solid 1px #444;
    border-collapse: collapse;
    font-size: 12px;
  }
  #chatSection {
    background: white;
    float: left;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
  }
